[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[pipenv]
allow_prereleases = true

[packages]
aioquic = "~=0.9.17"
dataclasses-json = "~=0.5.6"
flask = {version = "~=2.0", extras = ["async"]}
python-ndn = "0.3"
uwsgi = "~=2.0"

[dev-packages]
autopep8 = "*"
isort = "*"
pylint = "*"

[scripts]
health = "env FLASK_APP=health flask run"
lint = "sh -c 'isort *.py && autopep8 -i *.py'"
